@font-face {
   font-family: 'MTD-Kiramba';
   font-display: swap;
   src: url('file:///C:/Users/datth/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-09-21_171627/fonts/MTD-Kiramba/font.ttf');
}
